<h1>Record a new session</h1>

<%= form_with model: @session do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @session.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_select :date, start_year: Time.now.year - 5, end_year: Time.now.year %>
    <% @session.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
