<h1><%= @session.title %></h1>

<strong> Date: </strong> <%= @session.date %>

<ul>
  <%= link_to "Edit", edit_session_path(@session) %>
  <br>
  <%= link_to "Destroy", session_path(@session), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  <br> 
  <br>            
</ul>

<h2>Participants</h2>
<%= render @session.participants %>

<h2>Add a new participant:</h2>
<%= render 'participants/form' %>