<h1><%= @session.title %></h1>

<strong> Date: </strong> <%= @session.date %>

<ul>
<%= link_to "Edit", edit_session_path(@session) %>
<br>
<%= link_to "Destroy", session_path(@session), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</ul>

<h2>Participants</h2>
<% @session.participants.each do |participant| %>
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= participant.role %>
  </p>
<% end %>

<h2>Add a new participant:</h2>
<%= form_with model: [ @session, @session.participants.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :role %><br>
    <%= form.text_field :role %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>