<%= form_with model: [ @session, @session.participants.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :role %><br>
    <%= form.text_field :role %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>